tr
    td
        table.footer(align="center" width="95%"  border="0" cellpadding="0" cellspacing="0")
            tbody
                
                tr
                    +margin(40)
                    
                tr
                    td.h2(align="center" width="100%")
                        |Follow us
                tr
                    +margin(16)
                
                tr
                    td(align="center" width="100%")
                        
                        //- button facebook
                        table(align="center" border="0" width="100%" cellpadding="0" cellspacing="0")
                            tbody
                                tr
                                    td.p(align="center")
                                        +button('#ffffff','#3B5998','#','Facebook')
                                
                        
                tr
                    +margin(6)       
                     
                tr
                    td(align="center" width="100%")        
                        //- button Twitter
                        table(align="center" border="0" width="100%" cellpadding="0" cellspacing="0")
                            tbody
                                tr  
                                    td.p(align="center")
                                        +button('#ffffff','#55acee','#','Twitter')
                                        
                tr
                    +margin(6)       
                                     
                tr
                    td(align="center" width="100%")        
                        //- button Instagram
                        table(align="center" border="0" width="100%" cellpadding="0" cellspacing="0")
                            tbody
                                tr  
                                    td.p(align="center")
                                        +button('#ffffff','#A22DBF','#','Instagram')
                            
                        
                        
                tr
                    +margin(40)
            
                
                tr
                    td.p(align="center")
                        |Sent with ♥
                
                tr
                    +margin(40)
                
                tr
                    td.secondary(align="center")
                        |Don't want to get emails like this? 
                
                tr
                    +margin(8)
                
                tr
                    td.secondary(align="center")
                        span.secondary 
                            |<a href="#">Unsubscribe</a>
                        
                        
                        
                        
                
                tr
                    +margin(40)
        
        
